__pycache__/
*.pyc
.pytest_cache/
pytest-cache-files-*/
.venv/
venv/
.env
.ipynb_checkpoints/
.RData
.Rhistory
.idea/
.DS_Store

results/raw/*.json
results/raw/*.txt
results/raw/*.csv
!results/raw/.gitkeep

*.sqlite
*.sql
*.zip
*.pt
*.onnx

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz

/informe_eda_fc24.pdf

Treball_Final_de_Grau_vFinal2.pdf

plan_trabajo_eda_fc24_v3.md
